<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Upload an Image for Prediction</h2>

<form method="POST" action="/predict" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/*" required>
  <button type="submit">Predict</button>
</form>

{% if prediction is defined %}
  <h3>Prediction: {{ prediction }}</h3>
  <p>Confidence: {{ confidence }}%</p>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>
